//- .card-widget.card-aplayer
//-   .card-content
//-     .item-headline
//-       i.fa.fa-music(aria-hidden="true")
//-       span= _p('Music')
html
body
  link(rel="stylesheet" href="https://static.renwangyu.com/imgs/aplayer.min.css")
  #aplayer
  script(src="https://static.renwangyu.com/imgs/aplayer.min.js")
  script.
    const ap = new APlayer({
      container: document.getElementById('aplayer'),
      autoplay: true,
      fixed: true,
      audio: [{
        name: '爱似流星',
        artist: '新流星蝴蝶剑',
        url: 'https://static.renwangyu.com/imgs/bgm.mp3',
        cover: 'https://static.renwangyu.com/imgs/bgm-corver.jpeg',
        theme: "#8e8cd8",
        lrc: ""
      }]
    });
//-   说明：
//-   css经过修改，不建议引用官方CSS，会有点丑
//-   css把循环按钮和进度条去掉了，避免在侧边栏的时候进度条只有一丁点导致的效果并不好
//-   在上面修改参数即可
//-   name是歌曲名，artist是歌手名
//-   url改成一个可以放出音乐的链接即可，cover是封面图
//-   theme是颜色，可以删掉，也可以自己改，用Hex颜色代码
//-   lrc是歌词，貌似不支持txt格式的lrc标准歌词内容……
